body {
  background-color: hsl(212, 45%, 89%);
}

h1 {
  color: hsl(218, 44%, 22%);
  font-size: 30px;
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 20px;
}

img {
  border-radius: 14px;
  max-width: 375px;
}

.container {
  background-color: hsl(0, 0%, 100%);
  max-width: 375px;
  text-align: center;
  margin: 0 auto;
  margin-top: 220px;
  border-radius: 20px;
  padding: 22px;
  font-family: "Outfit", sans-serif;
}
